*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}


.fondo{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}
.card{
    padding: 20px;
    background-color:black; 
    color:white; 
    border-radius:10px;
    width: 18rem;
    transition: all 1s; 
}

.card:hover{
    transform: translateY(-10px);
    transition: all 1s;
    
    
}

.row{
    padding: 10px;
}

img{
    border-radius: 10px;
}