
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topnav {
    background-color: rgb(0, 0, 0);;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s;
  }
  
.titurick{
    text-align: center; 
    color:black; 
    font-weight:bold;
    text-shadow:
		0 0 5px rgb(255, 0, 0),
		0 0 10px rgb(255, 0, 0),
		0 0 20px rgb(255, 0, 0),
		0 0 40px rgb(194, 23, 23),
		0 0 80px rgb(194, 23, 23),
		0 0 90px rgb(194, 23, 23),
		0 0 100px rgb(170, 26, 26),
		0 0 140px rgb(170, 26, 26),
		0 0 180px rgb(170, 26, 26);
}
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: all 0.5s;
  }
  
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }